*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    background-color: rgb(27, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: rgb(17, 17, 17);
    width: max-content;
    height: max-content;
    padding: 20px;
    border-radius: 10px;
    box-shadow:2px 2px 10px white,2px -2px 10px white,-2px 2px 10px white,-2px -2px 10px white;
}

.answer input{
    background-color: rgb(36, 39, 36);
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-shadow:2px 2px 10px rgb(91, 92, 91),2px -2px 10px rgb(91, 92, 91),-2px 2px 10px rgb(91, 92, 91),-2px -2px 10px rgb(91, 92, 91);
    text-align: right;
    font-size: 30px;
    color: white;
}

.buttonss{
    background-color: rgb(36, 39, 36);
    height: max-content;
    margin-top: 10px;
    border-radius: 10px;
}

.buttonss button{
    height: 70px;
    width: 70px;
    margin: 10px;
    font-size: 30px;
    border-radius: 50%;
    border: none;
}

.buttonss button:hover{
    box-shadow:2px 2px 10px white,2px -2px 10px white,-2px 2px 10px white,-2px -2px 10px white;
}

#equal{
    background-color: orange;
}

#equal:hover{
    box-shadow:2px 2px 10px yellow,2px -2px 10px yellow,-2px 2px 10px yellow,-2px -2px 10px yellow;
}

#operator{
    background-color: green;
    
}

#operator:hover{
    box-shadow:2px 2px 10px greenyellow,2px -2px 10px greenyellow,-2px 2px 10px greenyellow,-2px -2px 10px greenyellow;
}

#action{
    background-color: skyblue;
}

#action:hover{
    box-shadow:2px 2px 10px skyblue,2px -2px 10px skyblue,-2px 2px 10px skyblue,-2px -2px 10px skyblue;
}